
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    list-style-type:none;
    text-decoration:none;
    font-family:'poppins',sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}
:root{
    --main-color:#033a80;
    --bg-color:#fff;
    --text-color:#0f0c27;
    --hover-color:#5805ff;
    
    --big-font :3.2rem;
    --medium-font:1.8rem;
    --p-font:0.941rem;
}
body{
    color: var(--text-color);
    background-color: var(--bg-color);

}
body .active{
    color: #fff;

    background: #0f0c27;
}
section{
    padding: 50px 10%;
}
header{
    position: fixed;
    width: 100%;
    display: flex;
    top: 0;
    right: 0;
    z-index: 1000;
    justify-content: space-between;
    align-items: center;
    background: var(--bg-color);
    padding: 13px 10%;
    box-shadow: -3px -3px 7px #fff,2px 2px 5px rgba(94, 104,121, 0.228);

}
header .shadow{
    box-shadow: 0 0 4px rgb(14, 55, 54 /15%);
}
.logo{
    font-size: 1.16rem;
    color: var(--text-color);
    font-weight: 600;
}
.navbar{
    display: flex;
    align-items: center;
  
}
.navbar a{
    font-size: 1rem;
    padding: 10px 20px;
    color: var(--text-color);
    font-weight: 500;
}
.navbar a:hover{
    color: var(--hover-color);
}
#menu-icon{
    font-size: 24px;
    cursor: pointer;
    z-index: 1001;
    display: none;
}
#darkmode{
    font-size: 22px;
    cursor: pointer;
}

.home{
    width: 100%;
    display: grid;
    grid-template-columns: 0.2fr 1fr 1fr;
    align-items: center;
    gap: 1rem;
}
.social {
    display: flex;
    flex-direction: column;

}
.social a{
  margin-bottom: 1rem;
  font-size: 22px;
  color: var(--text-color);
}
.social a:hover{
    color: var(--hover-color);
}
.home-text span{
    font-size: var(--medium-font);
    font-weight: 500;
}
.home-text h1{
    font-size:var(--big-font)
}
.home-text h2{
    font: size 1.1rem;;
    font-weight:400;

}
.home-text p{
    font-size:var(--p-font) ;
    margin:0.7rem 0 1rem;
}   
.btn{
  padding: 0.7rem 1.3rem;
  background-color: var(--main-color);
  color: #fff;
  border-radius:0.5rem;
}
.btn:hover{
    background:var(--hover-color);
}
.home-image img{
    width:80%;
}
.heading{
  text-align: center;
}
.heading h2{
  font-size: 30px;
}
.heading span{
    font-size: var(--p-font);
    color: #02a646;
}
.about-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    margin-top: 2rem;
}
.about-imag img{
    width: 80%;
    border-radius: 0.5rem;

}
.about-text p{
    font-size: var(--p-font);
    text-align: justify;
    font-weight: 400;
}
.skills-container{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: center;
 }
 .skill-img img{
    width: 90%;
    object-position: center;
    padding-left: 4rem;
 }
.bars-box{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding: 1rem 0;

}
.bars-box h1, span {
    font-size: 1.1rem;
    font-weight: 500;
}
.light-bar{
    position:absolute;
    left: 0;
    bottom: 0;
    background: hsla(260, 100%, 44%, 0.4);
    width: 100%;
    height: 0.5rem;
    border-radius: 0.5rem;
} 
.percent-bar{
    position: absolute;
    left: 0;
    bottom: 0;
    background: var(--main-color);
    height: 0.5rem;
    border-radius: 0.5rem;
}
.wt-bar{
    width: 94%;
}
.java-bar{
    width: 90%;
}
.sql-bar{
    width: 95%;
}
.git-bar{
    width: 99%;
}
.vs-bar{
    width: 99%;
}
.os-bar{
    width: 70%;
}
.nt-bar{
    width: 80%;
}


.Education .box-container{
    display: flex;
    flex-wrap: wrap;
}

.Education .box-container .box{
    position: relative;
    flex:1 1 33rem;
    border-left: .2rem solid var(--main-color);
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;    
}

.Education .box-container .box::before{
    content: '';
    position: absolute;
    top:0; left:-1rem;
    height:2rem;
    width:2rem;
    border-radius: 50%;
    background:var(--main-color);
}

.Education .box-container .box .content{
    background:#fff;
    padding:1.5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: .5rem;
}

.Education .box-container .box .content span{
    color:#fff;
    font-size: 1.7rem;
    background:var(--main-color);
    border-radius: 50rem;
    padding:.4rem 1rem;
}

.Education .box-container .box .content h3{
    font-size: 2.5rem;
    padding:.5rem 0;
    color:#111;
}

.Education .box-container .box .content p{
    font-size: 1.5rem;
    color:#666;
}


.contact-form
{
    display: grid;
    place-items: column;
    margin-top: 2rem;
}
.contact-form form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
form input,textarea{
    padding: 15px;
    width: 650px;
    border-radius: 0.5rem;
    border:none;
    outline: none;
    background-color: rgb(205, 60, 228);
    margin-bottom: 1rem;
    color: var(--text-color);
}
form input::placeholder,textarea::placeholder{
    color: var(--text-color);
}
form textarea{
    resize: none;
    height: 200px;
}
.contact-button{
    width: 180px;
    background-color: #5805ff;
    color: #fff;
    text-transform: uppercase;
}
.contact-button:hover{
    background: var(--hover-color);
}
